.cards {
    width: 100%;
    
    
    padding: 8vh 0;

    background: #e5e7eb;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}


.cards section{
    flex:0 1 300px;
    align-self: stretch;

    background: var(--light-color);

    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(50, 50, 50, 0.3); 


    padding: 1.5rem;
}

.cards p{
    font-size: small;
    margin: 1.5rem 0;
    color: var(--mid-color);
}

.cards h3{
    font-size: x-large;
    font-family: var(--brand-font);
    color: var(--mid-color);
}

.cards span{
 color: var(--brand-color);   
}

.priser{
    width: 100%;
    
    
    padding: 8vh 0;

    background: #e5e7eb;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.priser section {
    flex:0 1 300px;
    align-self: stretch;

    background: var(--light-color);

    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(50, 50, 50, 0.3); 


    padding: 1.5rem;
}

.priser h6{
color: var(--mid-color);
display: flex;
justify-content: end;
font-size: x-large;
}

.priser ul{
    color: var(--mid-color);
    font-size: smaller;
    padding: 4px 0;
   
}

.priser h4{
    color: var(--mid-color);
    font-size: small;
    padding: 0 0 8px 0 ;
}

.priser p{
    font-size: x-small;
}

.priser h3{
    font-size: x-large;
}