.kontakt button{
    background-color: #ffc929;
    border-style: none;
    font-size: large;
    color: var(--light-color);
    padding: 8px;
    width: 90px;
    border-radius: 5px;
}
.input button:hover{
    background-color: var(--mid-color);
}


.kontakt{
    margin: 7em 0 0 0;
    padding: 2em;
    background-color: var(--mid-color);
    }
    
.kontakt h3{ 
    font-size: large; 
    font-family: var(--accent-font);
    font-weight: bold;
}
.kontakt a{ 
    display: flex;
    justify-content: center;
     align-items: center;
     gap: 2em; 
     padding: 1em;
    }

